@charset "UTF-8";

/* #manage_table {
	position: absolute;
    margin: 350px 0px 0px 40px;
} */

#manage_table {
	position: absolute;
    margin: 350px 0px 0px 40px;
    width: 73%;
    text-align: center;
    border-collapse: collapse;
}

#manage_table th {
	background-color: black;
	color: white;
	font-size: 25px;	
	font-weight:500;
	border:solid 1px black;
}

#manage_table td {
	border-bottom:solid 1px black;
	height: 70px;
}