@charset "UTF-8";

#editor {
	margin: 40px;
}

#doc_table {
	border: none;
	margin: 40px;
	width: -webkit-fill-available;
	height: 300px;
}

#table_th {
	background-color: #303841;
	color: white;
	
}

#table_input {
	width:95%;
	height:25px;
}

#none_td {
	border : none;
	
}

img {
	height:25px;
}

#cancle_btn, #submit {
	float:right;
	margin-right:50px;
	margin-bottom:100px;
	width:100px;
	height:50px;
	border-radius: 10px;
}

#submit {
	background-color: #30A9DE;
	color:#fff;
	border:none;
}

#cancle_btn:hover , #submit:hover {
	cursor:Pointer;
	box-shadow:1px 2px 2px 3px #999;
}