@charset "UTF-8";

#approval_btn {
	float:right;
	background-color: #30A9DE;
	border: none;
	color: white;
  	padding: 15px 30px 15px 30px;
 	text-align: center;
  	text-decoration: none;
 	display: inline-block;
	font-size: 16px;
	cursor:Pointer;
	border-radius: 15px;
	margin-top:-15px;
}

#doc_box {
	float:left;
	margin:20px;
	width:200px;
	height:200px;
	box-shadow:1px 1px 1px 1px #999; 
	cursor:Pointer;
}

#doc_box:hover , #sec_box:hover , #sec_box_lg:hover {
	box-shadow:1px 2px 2px 3px #999;
	
}

#doc_box_area {
	margin:40px 20px;
}

#doc_box > img {
	/* margin:30px 52px;
	vertical-align:middle; */
	
    margin: 25px 0px 0px 50px;
    width: 50%;
}

#doc_name {
	text-align:center;
	margin:10px;
	font-weight:bold;	
}

#sec_area {
	
	background-color:#f3f3f3;
	margin:auto;
	margin-top:-200px;
	width:90%;
	display:grid;
	grid-template-rows: repeat(1, 140px);
	grid-template-columns: repeat(3,1fr);
	grid-auto-flow: row || row dense || dense;
	
}

#sec_box {
	background-color:#fff;
	margin:50px;
	height:100px;
	box-shadow:1px 1px 1px 1px #999; 
	cursor:Pointer;
}

#sec_box_lg {
	background-color:#fff;	
	grid-column:span 3;
	margin:50px;
	height:100px;
	box-shadow:1px 1px 1px 1px #999; 
	cursor:Pointer;
}

#sec_box div {
	line-height: 100px;
	height: 100px;
	text-align: center;
}

#sec_box div span:nth-child(1) {
	color:red;
	padding-right:10%;
	font-weight: bold;
}

#sec_box div span {
	font-size:25px;
}

#sec_box_lg {
	display:inline-flex;
	line-height: 100px;
	height: 100px;
	font-size: 25px;
}

#sec_box_lg div {
	margin-right:auto;
	width: 200px;
	margin-left:3%;
}

#sec_box_lg div:nth-child(5) {
	margin-right:auto;
	margin-left:-80px;
	font-size:20px;
	
}


#sec_box_lg div img {
	width:50px;
	height: 100px;
}

#sec_box_lg div > p {
	margin-bottom: 25px;
    height: 27px;
    margin-top: -15px;
}

.nullDoc {
	justify-content: center;
}

#pageNumber {
	text-align: center;
}

.choice {
	font-size:50px;
}