<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cart">
<select id="getInfo" resultType="UserVO" parameterType="string">
SELECT       
	   USER_ID
     , USER_NAME
     , USER_PHONE
     , USER_ADDR
  FROM USER_TABLE
 WHERE USER_LOGINID = #{userId}
</select>

<select id="proInfo" resultType="cartVo" parameterType="string">

 SELECT 
       P.PRO_ID
     , P.PRO_NAME
     , P.PRO_COLOR
     , P.PRO_SIZE
     , P.PRO_PRICE
     , O.ORDER_EA
  FROM USER_TABLE U, PAYMENT PAY, ORDERDETAIL O, PRODUCT P 
 WHERE PAY.USER_ID = U.USER_ID 
   AND O.PAY_ID = PAY.PAY_ID
   AND P.PRO_ID = O.PRO_ID
   AND U.USER_LOGINID = #{userId}
   
</select>

<select id="orderInfo" resultType="com.egg.tfox.vo.cart.orderdetailVo">
select nvl(sum(pro_price * order_ea),0)  
from  orderdetail o, product p, user_table u, payment pay
where p.pro_id = o.pro_id
and pay.pay_id = o.pay_id
and u.user_id = pay.user_id
AND U.USER_LOGINID = #{userId}
</select>

	
</mapper>