<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cart">
<select id="getInfo" resultType="UserVO" parameterType="string">
SELECT       
	   USER_ID
     , USER_NAME
     , USER_PHONE
     , USER_ADDR
  FROM USER_TABLE
 WHERE USER_LOGINID = #{userId}
</select>

<select id="cartInfo" resultType="CartVo" parameterType="string">
select
	   c.pro_id
     , c.pro_name
     , c.pro_color
     , c.pro_size
     , c.pro_ea
     , c.pro_price
  from user_table u, cart c
 where u.user_id = c.user_id
   AND U.USER_LOGINID = #{userId}
   
</select>

<select id="orderInfo" resultType="com.egg.tfox.vo.cart.orderdetailVo">
select nvl(sum(pro_price * order_ea),0)  
from  orderdetail o, product p, user_table u, payment pay
where p.pro_id = o.pro_id
and pay.pay_id = o.pay_id
and u.user_id = pay.user_id
AND U.USER_LOGINID = #{userId}
</select>

<insert id="order" parameterType="com.egg.tfox.vo.cart.orderdetailVo">
INSERT INTO ORDERDETAIL(PAY_ID, PRO_ID, ORDER_EA, ORDER_DATE,  ORDER_NUM, ORDER_STATE, TOTAL_PRICE)
VALUES(
	 #{pay_id}
	,#{pro_id}
	,#{order_ea}
	,SYSDATE
	,#{order_num}
	,#{order_state}
	,#{total_price}
)
</insert>
<select id="sumMoney" resultType="int">
select nvl(sum(pro_price * pro_ea),0)
from user_table u, cart c
where u.user_id = c.user_id
and U.USER_LOGINID = #{userId}
</select> 
	
</mapper>