<?xml version="1.0" encoding="UTF-8" ?>

<!-- 이 설정파일은 스프링의 도움 없이 마이바티스를 독자적으로 사용할 때 필요한 설정파일  -->

<!-- DTO 선언 : 문서의 유형을 정의하고 사용 사능한 태그 정보를 로드 -->
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
		<!-- 별칭 부여 공간 -->
		
	<typeAliases>

		<typeAlias type="com.egg.tfox.entity.Employee" alias="employee"/>

		<typeAlias type="com.egg.tfox.vo.approval.ApprovalMainVo" alias="approvalMainVo"/>

	</typeAliases>	

	<!-- enviroments : 사용환경에 대한 정의 . 개발/배포을 구분하기 위해 사용 -->
	<environments default="development">
	<!-- 개발용 환경 -->
		<environment id="development">
			<!-- 
				트랜젝션이란 뭐냐 = 작업 단위  
				데이터 베이스 커밋/롤백을 자동으로 수행
				
			 -->
			 <!--
			  테이터베이스 연결정보 (스프링과 연동되면 필요가 없음 )
			  - POOLED : DBCP 방식(개수 제한 관리)
			  - UNPOOOLED :일반 방식(신규생성) 
			  
			  -->
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="tfox" />
				<property name="password" value="tfox" />
			</dataSource>
		</environment>
	</environments>
	<!-- 	
		Mapper란 sql 명령만 가지고 있는 파일 말함
		- mappers는 mapper 파일의 위치를 지정
	 -->
	<mappers>

		
	</mappers>

	
	
</configuration>
<!-- control shift f 누르면 정렬된다 . -->









