<?xml version="1.0" encoding="UTF-8" ?>



<!-- DTD 선언 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper라는 영역 안에 구문을 작성한다.
	- namespace : mapper 간의 충돌을 방지 하기 위한 이름 (필수) 
 -->
<mapper namespace="qna">
	<select id="qnaList" resultType="com.egg.tfox.vo.board.QnaListVO" parameterType="map">
		SELECT RN
      		, GESI_ID
      		, GESI_TITLE
      		, GESI_CONTENT
      		, GESI_DATE
      		, GESI_STATUS
      		, GESI_ANSDATE
      		, GESI_ANSCONTENT
      		, USER_ID
      		, USER_NAME
      		, GESI_CODE
      		, GESI_NAME 
			, QNA_NAME
		FROM (
				SELECT ROWNUM RN
      		  			, A.GESI_ID
      		  			, A.GESI_TITLE
      		  			, A.GESI_CONTENT
      		  			, A.GESI_DATE
      		  			, A.GESI_STATUS
      		  			, A.GESI_ANSDATE
      		  			, A.GESI_ANSCONTENT
      		  			, A.USER_ID
      		  			, A.USER_NAME
      		  			, A.GESI_CODE
      		  			, A.GESI_NAME
      		  			, A.QNA_NAME
 				FROM (
 						SELECT    
							  G.GESI_ID
     	 	   				, G.GESI_TITLE
      		   				,G.GESI_CONTENT
      	       				,G.GESI_DATE
      		   				,G.GESI_STATUS
      		   				,G.GESI_ANSDATE
      		   				,G.GESI_ANSCONTENT
               				,G.USER_ID
      		   				,U.USER_NAME
      		   				,G.GESI_CODE
      		   				,T.GESI_NAME 
               				,QT.QNA_NAME
      					FROM GESI G
      					JOIN GESITYPE T ON T.GESI_CODE = G.GESI_CODE
        				JOIN USER_TABLE U ON U.USER_ID = G.USER_ID
        				JOIN QNA Q ON Q.GESI_ID = G.GESI_ID
        				JOIN QNATYPE QT ON QT. QNA_CODE = Q.QNA_CODE
       					WHERE G.GESI_CODE = #{gesiC}
        				ORDER BY G.GESI_DATE DESC
 				)A
		)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="countQna"  resultType="int" parameterType="string">
		SELECT COUNT(*)
		FROM (SELECT    
				G.GESI_ID
     	 	   ,G.GESI_TITLE
      		   ,G.GESI_CONTENT
      	       ,G.GESI_DATE
      		   ,G.GESI_STATUS
      		   ,G.GESI_ANSDATE
      		   ,G.GESI_ANSCONTENT
               ,G.USER_ID
      		   ,U.USER_NAME
      		   ,G.GESI_CODE
      		   ,T.GESI_NAME 
               ,QT.QNA_NAME
      	FROM GESI G
      	JOIN GESITYPE T ON T.GESI_CODE = G.GESI_CODE
        JOIN USER_TABLE U ON U.USER_ID = G.USER_ID
        JOIN QNA Q ON Q.GESI_ID = G.GESI_ID
        JOIN QNATYPE QT ON QT. QNA_CODE = Q.QNA_CODE
        WHERE G.GESI_CODE = #{gesi_code}
        )
	</select>
	
	<select id="type" resultType="com.egg.tfox.vo.board.QnaType">
		SELECT
			  QNA_CODE
			, QNA_NAME
		FROM QNATYPE
	</select>
	
	<insert id="qadd" parameterType="map">
		INSERT INTO GESI(
			GESI_ID
		  , GESI_TITLE
		  , GESI_CONTENT
		  , GESI_DATE
		  , GESI_STATUS
		  , GESI_ANSDATE
		  , GESI_ANSCONTENT
		  , USER_ID
		  , GESI_CODE
		) 
		VALUES(
			'G'||TRIM(TO_CHAR(SEQ_QNCID.NEXTVAL,'00000'))
			,#{gesi_title}
			,#{gesi_content}
			, SYSDATE
			,'N'
			, NULL,NULL
			,#{user_id}
			,#{gesi_code}) 
	</insert>
	
	<select id="lately" resultType="com.egg.tfox.vo.board.GesiVO" parameterType="map">
		SELECT 	  GESI_ID
		  , GESI_TITLE
		  , GESI_CONTENT
		  , GESI_DATE
		  , GESI_STATUS
		  , GESI_ANSDATE
		  , GESI_ANSCONTENT
		  , USER_ID
		  , GESI_CODE 
		FROM (
    			SELECT  GESI_ID
		  		, GESI_TITLE
		  		, GESI_CONTENT
		  		, GESI_DATE
		  		, GESI_STATUS
		  		, GESI_ANSDATE
		  		, GESI_ANSCONTENT
		  		, USER_ID
		  		, GESI_CODE  
          	FROM GESI 
          WHERE USER_ID = #{user_id}
          ORDER BY GESI_DATE DESC) E
        <![CDATA[WHERE ROWNUM <= 1]]>
        
	</select> 
	
	<insert id="add2" parameterType="map">
		INSERT INTO QNA(
			QNA_CODE
		  , GESI_CODE
		  , GESI_ID
		) VALUES(#{qna_code},#{gesi_code},#{gesi_id})
	</insert>
	
	<select id="detail" resultType="com.egg.tfox.vo.board.QnaListVO" parameterType="string" >
		SELECT    
							  G.GESI_ID
     	 	   				, G.GESI_TITLE
      		   				,G.GESI_CONTENT
      	       				,G.GESI_DATE
      		   				,G.GESI_STATUS
      		   				,G.GESI_ANSDATE
      		   				,G.GESI_ANSCONTENT
               				,G.USER_ID
      		   				,U.USER_NAME
      		   				,G.GESI_CODE
      		   				,T.GESI_NAME 
               				,QT.QNA_NAME
      					FROM GESI G
      					JOIN GESITYPE T ON T.GESI_CODE = G.GESI_CODE
        				JOIN USER_TABLE U ON U.USER_ID = G.USER_ID
        				JOIN QNA Q ON Q.GESI_ID = G.GESI_ID
        				JOIN QNATYPE QT ON QT. QNA_CODE = Q.QNA_CODE
       					WHERE G.GESI_ID = #{gesi_id}
	</select>
	
	<delete id="delQna" parameterType="string">
		 DELETE FROM QNA 
		 	WHERE GESI_ID = #{gesi_id}
	</delete>
	
	<delete id="gesiDel" parameterType="string">
		 DELETE FROM GESI 
		 	 WHERE GESI_ID = #{gesi_id} 
	</delete>
</mapper>