<?xml version="1.0" encoding="UTF-8" ?>
<!-- DTD 선언 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper라는 영역 안에 구문을 작성한다.
	- namespace : mapper 간의 충돌을 방지 하기 위한 이름 (필수) 
 -->
<mapper namespace="approval">
	<select id="docList" resultType="approvalMainVo">
		select 
       appdoc.app_id,
       appdoc.emp_id,
       appdoc.app_title,
       appdoc.app_excu_id,
       appdoc.app_date,
       appdoc.app_content,
       appdoc.app_status,
       appdoc.app_checktime,
       temp.temp_id,
       temp.temp_title,
       temp.temp_content,
       emp.emp_name,
       dept.dept_id,
       dept.dept_name
		from approval_doc appdoc, template temp , employee emp , department dept
		where appdoc.temp_id = temp.temp_id
		and appdoc.emp_id = emp.emp_id
		and emp.dept_id = dept.dept_id
	</select>
	
	<select id="templateRankList" resultType="hashmap" parameterType="string">
		select temp_id , count(*)
			from employee e , approval_doc doc
			where e.emp_id = doc.emp_id
			and emp_loginid = 'buser02'
			group by temp_id
			order by count(*) desc
	</select>
	
	<select id="templateAll" resultType="string">
		select temp_id from template
	</select>
</mapper>