<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD 선언 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper라는 영역 안에 구문을 작성한다.
	- namespace : mapper 간의 충돌을 방지 하기 위한 이름 (필수) 
 -->
 <mapper namespace="template">
 	<select id="listAll" resultType="com.egg.tfox.entity.approval.TemplateEntity">
 		select * from template
 	</select>
 	
 	<!-- 양식 저장 -->
 	<insert id="insertTemp" parameterType="map">
		insert into template
		(temp_id, temp_title, temp_content, temp_date , emp_id)
		values('TMP'||TRIM(TO_CHAR(SEQ_TEMPID.nextval,'000')), #{title}, empty_clob(), sysdate, #{emp_id})
 	</insert>
 	<update id="ins_update" parameterType="map">
 		update template
 		set temp_content = #{content}
 		where temp_title = #{title}
 	</update>
 	
 	<select id="selectContent" resultType="string" parameterType="string">
 		select temp_content from template
 		where temp_title = #{tempName}
 	</select>
 	<!-- 문서관리 테이블 데이터 -->
 	<select id="selectAll" resultType="com.egg.tfox.vo.approval.ManageTempVo" parameterType="string">
		select 
		    TRANSLATE(temp_id,'0123456789'|| temp_id,'0123456789') temp_id,
		    temp_title,
		    temp_content,
		    temp_date,
		    emp_id
		from template
		where emp_id = #{emp_id}
		
 	</select>
 	
 	<select id="manageDetail" resultType="com.egg.tfox.vo.approval.ManageTempVo"  parameterType="string">
 		select temp_id , temp_title , temp_content \
 		
 		from template
 		where temp_id = #{temp}
 	</select>
 	
 	<update id="updateTemplate" parameterType="map">
 		update template set temp_content = #{content} , temp_date = sysdate where temp_id = #{temp_id}
 	</update>
 	
 	
 </mapper>
 